:root {
  --beige: #fff8ea;
  --brown: #ad9462;
  --darkGreen: #005249;

  --yellow: #ffc501;
  --yellowPink1: #ffbe51;
  --yellowPink2: #ffbc84;
  --yellowPink3: #ffc2b1;
  --pink: #fd8a7d;
  --font: "Urbanist", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  min-height: 100vh;

  margin: 0;

  background-color: var(--beige);
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px var(--brown);
  background-color: var(--beige);
}

body::-webkit-scrollbar-thumb {
  /*https://codepen.io/GhostRider/pen/oNvoNv*/
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.2, var(--yellowPink1)),
    color-stop(0.5, var(--yellowPink2)),
    color-stop(0.6, var(--yellowPink3))
  );
}
/*Header*/

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 14vh;
  background-color: var(--beige);

  transition: all 0.1s linear;
}

.headerActive {
  height: 11vh;
  box-shadow: 0px 4px 27px 0px var(--brown);
}

.headerHidden {
  top: -11vh;
  box-shadow: none;
}

nav {
  display: flex;
  width: 100%;
  height: 100%;

  justify-content: end;
  align-items: center;
}

#nav_ul {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style-type: none;
}

#nav_ul > * {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 0.8vw;
}

.nav_links {
  all: unset;
  margin: 0 0.4vw;
  color: var(--darkGreen);
  font-family: var(--font);
  font-weight: 500;
  font-size: 1vw;
  transition: text-shadow 0.1s linear;
}

.nav_links:hover {
  cursor: pointer;
  text-shadow: 0 0 0.02px var(--darkGreen);
}

.nav_dots {
  height: 100%;
  position: relative;

  margin: 0 0.05vw;
  transform: translateY(0.05vw);
}

.nav_dots1 {
  background-color: var(--yellowPink3) !important;
}

.nav_dots2 {
  background-color: var(--yellowPink2) !important;
}

.nav_dots2 {
  background-color: var(--yellowPink1) !important;
}

#nav_resume {
  all: unset;
  color: var(--yellow);
  font-family: var(--font);
  font-weight: 700;
  letter-spacing: 0.08vw;
  font-size: 1.1vw;
  padding: 0.3vw 0.5vw;
  border-radius: 0.7vw;
  margin-right: 0.5vw;
  margin-left: 0.1vw;
  width: 5vw;
  text-align: center;

  border: var(--yellow) 2px solid;
}

#nav_resume:hover {
  cursor: pointer;
  font-size: 1.2vw;
}

/*Main*/

main {
  flex: auto;
  overflow-x: hidden;

  display: flex;

  width: 100%;
}

/*Article Section*/

article {
  flex: auto;
  width: auto;
  height: 100%;
}

article > section {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/*Article - Title*/

#article_title {
  height: 90vh;
}

#article_title > * {
  margin: 0;

  font-family: var(--font);
  text-align: center;

  color: var(--darkGreen);
}

#article_title > h3 {
  padding-top: 12vh;
  font-size: 2vw;
  font-weight: 100;
}

#article_title > h1 {
  padding-bottom: 4vh;
  font-size: 6vw;
  font-weight: 500;
  color: var(--pink);
}

.article_title_dotOveri {
  display: flex;
  top: -5.6vw;
  left: 46.4vw;
  position: relative;
  width: 0.8vw;
  height: 0.8vw;
  background-color: var(--yellow);
  border-radius: 100%;
}

#article_title > p {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 3vh;
  font-size: 1.5vw;
  font-weight: 300;
}

#article_title_link {
  font-size: 0.9vw;
  font-weight: 600;
  border: var(--darkGreen) 1px solid;
  border-radius: 0.6vw;
  margin: 6vh auto 0 auto;
  padding: 0.2vw 0.45vw;
  text-decoration: none;

  text-shadow: none;
  background-color: var(--beige);
  cursor: pointer;
  transition: all 0.1s linear;
}

#article_title_link:hover {
  text-shadow: 0 0 0.01px var(--darkGreen);

  animation: gradient 0.5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes gradient {
  0% {
    background: linear-gradient(180deg, var(--beige) 100%, var(--yellowPink3) 100%);
  }
  10% {
    background: linear-gradient(180deg, var(--beige) 95.5%, var(--yellowPink3) 100%);
  }
  20% {
    background: linear-gradient(180deg, var(--beige) 91%, var(--yellowPink3) 100%);
  }
  30% {
    background: linear-gradient(180deg, var(--beige) 86.5%, var(--yellowPink3) 100%);
  }
  40% {
    background: linear-gradient(180deg, var(--beige) 82%, var(--yellowPink3) 100%);
  }
  50% {
    background: linear-gradient(180deg, var(--beige) 77.5%, var(--yellowPink3) 100%);
  }
  60% {
    background: linear-gradient(180deg, var(--beige) 73%, var(--yellowPink3) 100%);
  }
  70% {
    background: linear-gradient(180deg, var(--beige) 68.5%, var(--yellowPink3) 100%);
  }
  80% {
    background: linear-gradient(180deg, var(--beige) 64%, var(--yellowPink3) 100%);
  }
  90% {
    background: linear-gradient(180deg, var(--beige) 59.5%, var(--yellowPink3) 100%);
  }
  100% {
    background: linear-gradient(180deg, var(--beige) 55%, var(--yellowPink3) 100%);
  }
}

.article_title_link_out {
  animation: gradient-out 0.7s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes gradient-out {
  0% {
    background: linear-gradient(180deg, var(--beige) 55%, var(--yellowPink3) 100%);
  }
  10% {
    background: linear-gradient(180deg, var(--beige) 59.5%, var(--yellowPink3) 100%);
  }
  20% {
    background: linear-gradient(180deg, var(--beige) 64%, var(--yellowPink3) 100%);
  }
  30% {
    background: linear-gradient(180deg, var(--beige) 68.5%, var(--yellowPink3) 100%);
  }
  40% {
    background: linear-gradient(180deg, var(--beige) 73%, var(--yellowPink3) 100%);
  }
  50% {
    background: linear-gradient(180deg, var(--beige) 77.5%, var(--yellowPink3) 100%);
  }
  60% {
    background: linear-gradient(180deg, var(--beige) 82%, var(--yellowPink3) 100%);
  }
  70% {
    background: linear-gradient(180deg, var(--beige) 86.5%, var(--yellowPink3) 100%);
  }
  80% {
    background: linear-gradient(180deg, var(--beige) 91%, var(--yellowPink3) 100%);
  }
  90% {
    background: linear-gradient(180deg, var(--beige) 95.5%, var(--yellowPink3) 100%);
  }
  100% {
    background: linear-gradient(180deg, var(--beige) 100%, var(--yellowPink3) 100%);
  }
}

.article_title_spec {
  transform: translateX(-2vw);
  width: 50% !important;
  font-size: 1.3vw !important;
}

#article_title_span {
  position: absolute;

  transform: translateX(0.5vw);
  overflow-y: hidden;
  height: 1.8vw;
  min-width: 5vw;

  letter-spacing: 1px;

  font-weight: 700;
  /*https://html-css-js.com/css/generator/text-shadow/*/
  text-shadow: 0.5px 0.5px 0 var(--brown), 0.5px -0.5px 0 var(--brown),
    -0.5px 0.5px 0 var(--brown), -0.5px -0.5px 0 var(--brown), 0.5px 0px 0 var(--brown),
    0px 0.5px 0 var(--brown), -0.5px 0px 0 var(--brown), 0px -0.5px 0 var(--brown);
}

.article_title_span_0 {
  color: var(--yellowPink2);
}
.article_title_span_1 {
  color: var(--yellowPink1);
}

.article_title_span_2 {
  color: var(--yellow);
}
.article_title_span_3 {
  color: var(--yellowPink3);
}
#article_title_span > * {
  transition: all 1s ease-in-out;
  position: absolute;
}

.article_title_span_middle {
  left: 0.1vw;
  top: 0;
  margin: 0;
}

.article_title_span_under {
  top: 1.8vw;
  left: 0.1vw;
}

.article_title_span_top {
  top: -1.8vw;
  left: 0.1vw;
}
/*Articles*/

article * h2 {
  all: unset;
  font-family: var(--font);
  text-align: center;
  font-size: 2.8vw;
  font-weight: 500;

  color: var(--darkGreen);
  padding: 0 2vw;
}

.article_h2_span {
  display: flex;
  justify-content: center;
}

.article_dots {
  display: flex;
  align-items: center;
}

.article_dots > .bigDot {
  width: 0.68vw !important;
  height: 0.68vw !important;
  transform: translateY(0.2vw);
}

.article_dots > .smallDot {
  width: 0.45vw !important;
  height: 0.45vw !important;
  margin: 0 0.35vw;
  transform: translateY(0.22vw);
}

/*Article - About Me*/
#article_aboutMe {
  height: 90vh;
  padding: 5vh 0;

  border-bottom: var(--darkGreen) 1px solid;
}

.article_dots_aboutMe > * {
  background-color: var(--yellowPink3) !important;
}

.article_aboutMe_outherSpan {
  display: flex;
}

.article_aboutMe_text {
  display: flex;
  flex-direction: column;
  padding: 1.5vw 5vw 0 2vw;
}

.article_aboutMe_text > p,
.article_aboutMe_text a,
.article_aboutMe_text a > span {
  font-family: var(--font);
  font-weight: 400;
  font-size: 1.2vw;
  color: var(--darkGreen);
  text-align: justify;
  line-height: 1.4;
}

.article_aboutMe_text a {
  text-decoration: none;

  font-weight: 800;

  transition: all 0.08s linear;
}

.article_aboutMe_text a:hover {
  color: var(--pink);
}

.article_aboutMe_here {
  font-weight: 600 !important;
}

.article_aboutMe_here:hover {
  color: var(--yellow) !important;
}

.article_aboutMe_photo > * {
  /*https://codepen.io/christopherware/pen/OZjZXN*/

  position: relative;
  width: 18vw;
  height: 24vw;

  transition: all 0.15s linear;
}

.photo_frame {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vw;
  transform: rotate(3deg);
  z-index: 10;
}
.photo_frame > img {
  margin: auto;
  height: 95%;
  width: 95%;
  border: double 0.4vw var(--pink);
  transition: all 0.15s linear;
}

.photo_active {
  height: 98% !important;
  width: 98% !important;
}

#photo_frame1 {
  height: 24vw;
  top: -29.9vw;
  left: 7vw;
  z-index: 5;
  transform: rotate(12deg);

  /*https://10015.io/tools/css-background-pattern-generator*/
  background: calc(0.9 * 0.8125vw) calc(0.9 * 0.8125vw) / calc(2 * 0.8125vw)
      calc(2 * 0.8125vw) conic-gradient(at 20% 20%, #0000 75%, var(--darkGreen) 0),
    calc(-0.1 * 0.8125vw) calc(-0.1 * 0.8125vw) / calc(2 * 0.8125vw) calc(2 * 0.8125vw)
      conic-gradient(at 20% 20%, #0000 75%, var(--darkGreen) 0),
    calc(0.7 * 0.8125vw) calc(0.7 * 0.8125vw) / calc(2 * 0.8125vw) calc(2 * 0.8125vw)
      conic-gradient(at 40% 40%, #0000 75%, var(--beige) 0),
    calc(-0.3 * 0.8125vw) calc(-0.3 * 0.8125vw) / calc(2 * 0.8125vw) calc(2 * 0.8125vw)
      conic-gradient(at 40% 40%, #0000 75%, var(--beige) 0),
    conic-gradient(from 90deg at 20% 20%, var(--darkGreen) 25%, var(--beige) 0) 0 0 /
      0.8125vw 0.8125vw;
}

.frame1_active {
  transform: rotate(15deg) !important;
  left: 7.4vw !important;
  top: -30.1vw !important;
}

#photo_frame2 {
  width: 20vw;
  top: -53.5vw;
  left: 3.5vw;
  z-index: 0;
  transform: rotate(-13deg);

  /*https://10015.io/tools/css-background-pattern-generator*/
  background-image: radial-gradient(
      var(--yellowPink1) calc(1vw * 0.15625),
      transparent calc(1vw * 0.15625)
    ),
    radial-gradient(
      var(--yellowPink1) calc(1vw * 0.15625),
      transparent calc(1vw * 0.15625)
    );
  background-size: 1vw 1vw;
  background-position: 0 0, calc(1vw / 2) calc(1vw / 2);
  background-color: var(--beige);
}

.frame2_active {
  transform: rotate(-15deg) !important;
  left: 3.1vw !important;
  top: -53.7vw;
}

#cursor_sparkle {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  top: 0;
  z-index: 15;
  visibility: hidden;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./images/sparkle.svg);

  transition: none;
}

.cursor_active {
  visibility: visible !important;
}

/*Article - Projects*/
#article_projects {
  padding: 5vh 0;
}

.article_dots_projects > * {
  background-color: var(--yellowPink2) !important;
}
/*Article - Contact*/
#article_contact {
  height: 90vh;
  padding: 5vh 0;

  border: var(--darkGreen) 1px solid;
}

.article_dots_contact > * {
  background-color: var(--yellowPink1) !important;
}
/*Aside*/

aside {
  width: 8vw;
}

aside > span {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1vw;

  height: 100vh;
  width: 8vw;
}

.aside_dot,
.aside_line {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2vw;
}

.aside_line {
  padding-bottom: 0.3vw;
  padding-top: 0.65vw;
}

.smallDot {
  height: 0.3vw;
  width: 0.3vw;
  border-radius: 100%;

  background-color: var(--yellow);
}
.bigDot {
  height: 0.55vw;
  width: 0.55vw;
  border-radius: 100%;

  background-color: var(--yellow);
}

.line {
  height: 7vw;
  width: 0.15vw;
  border-radius: 0.2vw;
  margin-bottom: 0.1vw;
  padding-top: 0.4vw;

  background-color: var(--yellow);
}

.drop_top {
  position: absolute;
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 10px 110px 30px 110px;
  background-color: var(--yellow);
  transform: translateX(-0.28vw) translateY(-0.7vw) rotate(-135deg);
}

.drop_second_left,
.drop_second_right {
  position: absolute;
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 10px 150px 30px 150px;
  background-color: var(--yellow);
}

.drop_second_right {
  transform: translateX(0.16vw) translateY(-0.01vw) rotate(-95deg);
}

.drop_second_left {
  transform: translateX(-0.5vw) translateY(-0.01vw) rotate(185deg);
}

.drop_third_left,
.drop_third_right {
  position: absolute;
  width: 0.4vw;
  height: 0.4vw;
  border-radius: 10px 150px 30px 150px;
  background-color: var(--yellow);
}

.drop_third_right {
  transform: translateX(0.2vw) translateY(0.65vw) rotate(-80deg);
}

.drop_third_left {
  transform: translateX(-0.45vw) translateY(0.65vw) rotate(170deg);
}

/*Aside - left*/

aside > span > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0 15px;

  list-style-type: none;
}

.aside_left_link {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 100%;

  border: #005249 1px solid;
  background-color: #fff8ea;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  transition: background 0.1s linear;
}

.aside_left_link:nth-child(1):hover {
  background-color: var(--yellowPink3);
}

.aside_left_link:nth-child(2):hover {
  background-color: var(--yellowPink2);
}
.aside_left_link:nth-child(3):hover {
  background-color: var(--yellowPink1);
}

.aside_left_link > a {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

#aside_link_github {
  background-image: url("./images/button_github.svg");
}
#aside_link_codepen {
  background-image: url("./images/button_codepen.svg");
}
#aside_link_linkedin {
  background-image: url("./images/button_linkedin.svg");
}

/*Aside - right*/

#aside_right_span {
  display: flex;
  justify-content: flex-end;
  align-items: start;
  width: 8vw;
  height: 18vw;
}

.aside_right_link {
  display: block;
  transform-origin: 0 0;
  transform: rotate(90deg) translateY(-15vw);
  width: 18vw;
  height: 3vw;
  margin: 0;

  text-align: center;
  font-family: var(--font);
  font-weight: 200;
  font-size: 1.5vw;
  letter-spacing: 0.2px;
  text-decoration: none;
  text-shadow: none;
  color: #005249;

  transition: text-shadow 0.1s linear;
}
.aside_right_link:hover {
  text-shadow: 0 0 0.02px var(--darkGreen);
}

/*footer*/

footer {
  width: 100%;
  height: 50px;
  padding: 20px 0;
}

footer > p,
footer > p > a {
  margin: 0 auto;
  color: #005249;
  text-align: center;
  text-decoration: none;
  font-family: var(--font);
  font-weight: 300;
  font-size: 1vw;
}

.footer_p_smaller,
footer > p > a {
  font-size: 0.9vw;
}

footer > p > a {
  color: var(--pink);
  transition: text-shadow 0.1s linear;
}

footer > p > a:hover {
  text-shadow: 0px 0px 0.5px var(--yellow);
}

footer > p > b {
  font-weight: 500;
}
