@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --beige: #fff8ea;
  --brown: #ad9462;
  --darkGreen: #005249;

  --yellow: rgb(255, 197, 1);
  --yellowPink1: rgb(255, 190, 81);
  --yellowPink2: rgb(255, 188, 132);
  --yellowPink3: rgb(255, 194, 177);
  --yellowPink4: rgb(253, 161, 144);
  --pink: rgb(253, 138, 125);

  --font: "Urbanist", sans-serif;
}

html {
  scroll-behavior: smooth;

  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  min-height: 100vh;

  margin: 0;

  background-color: var(--beige);
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px var(--brown);
  background-color: var(--beige);
}

body::-webkit-scrollbar-thumb {
  /*https://codepen.io/GhostRider/pen/oNvoNv*/
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.2, var(--yellowPink1)),
    color-stop(0.5, var(--yellowPink2)),
    color-stop(0.6, var(--yellowPink3))
  );
}

.smallDot {
  height: 0.3vw;
  width: 0.3vw;
  border-radius: 100%;
}
.bigDot {
  height: 0.55vw;
  width: 0.55vw;
  border-radius: 100%;
}

main {
  flex: auto;
  overflow: hidden;

  display: flex;

  width: 100%;
}
