section .line {
  display: flex;
  width: 100%;

  div:first-child {
    flex-grow: 3;
  }

  div:nth-child(2) {
    flex-grow: 5;
  }

  div:nth-child(3),
  div:nth-child(4) {
    flex-grow: 1;
  }
}
