.sectionHeader {
  display: flex;
  justify-content: start;
}

.article_dots {
  display: flex;
  align-items: center;
  opacity: 1;

  .smallDot {
    margin: 0 0.35vw;
  }
}

section:nth-child(1) {
  .bigDot,
  .smallDot {
    background-color: var(--pink);
  }

  a:hover {
    svg {
      stroke: var(--pink);
    }
  }
}

section:nth-child(2) {
  .bigDot,
  .smallDot {
    background-color: var(--yellowPink3);
  }
  a:hover {
    svg {
      stroke: var(--yellowPink3);
    }
  }
}
section:nth-child(3) {
  .bigDot,
  .smallDot {
    background-color: var(--yellowPink2);
  }
  a:hover {
    svg {
      stroke: var(--yellowPink2);
    }
  }
}
section:nth-child(4) {
  .bigDot,
  .smallDot {
    background-color: var(--yellowPink1);
  }
  a:hover {
    svg {
      stroke: var(--yellowPink1);
    }
  }
}
